#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.div-card{
  display: flex;
  justify-content: center;
}

.ion-card{
  margin-top: 4rem;
  width: 18.75rem;
}

ion-card-content{
  padding: 10px;
}

ion-content.fondohome {

  --background: url('../../assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

ion-card {
  background-color: rgba(255, 255, 255, 0.8); /* Ajusta el último valor (0.8) para controlar la transparencia */
  /* Otros estilos para las ion-card */
}

ion-list{
  background-color: transparent;
}

ion-item{
  background-color: transparent;
  border-radius: 10px;
}

ion-label{
  border-radius: 10px;
}

ion-card-header{
  background-color: rgb(247, 247, 247);
}


