
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex-container">
  <ion-card class="custom-card">
    <ion-card-content>
      <ion-card-title class="title ion-text-center"> REGISTRAR ALUMNO </ion-card-title>
        <ion-input type="text" placeholder=" Nombre" [(ngModel)]="newChildName"></ion-input>
        <ion-select placeholder="Section" [(ngModel)]="newChildSection">
          <ion-select-option value="Primaria">Primaria</ion-select-option>
          <ion-select-option value="Bachillerato">Bachillerato</ion-select-option>
          <ion-select-option value="Preescolar">Preescolar</ion-select-option>
        </ion-select>

      <ion-button expand="full" fill="clear" shape="round"  (click)="AgregarHijo()">
        Guardar
      </ion-button>
      <ion-button expand="full" fill="clear" shape="round"  (click)="reloadPage()">
        Volver
      </ion-button> 

      <ion-card-title class="title ion-text-center">ALUMNOS REGISTRADOS</ion-card-title>
      <ion-list *ngIf="parent && parent.Hijos && parent.Hijos.length > 0">
        <ion-item *ngFor="let child of parent.Hijos">
          {{child.Name}} - {{child.Section}}  
          <ion-button (click)="Delete(child)" expand="full" fill="clear" shape="round" >
            Eliminar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
