.background-image{
    --background: url('../../assets/Pequeña.png') ;
    
    
    background-size: cover;
    height: 100vh;
    
  }

  ion-button{
    color: rgb(255, 255, 255);
   background-color: #e67c03;
    padding: 5px 15px;
    
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
  }

  
  ion-card{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
  }

  ion-input{
    color: #000000;;
    margin-bottom: 10px;
    font-weight: bold;
    border: 2px solid rgb(141, 133, 133);
    border-radius: 10px;
    
  }
  ion-card-title{
    text-align: center;
    font-weight: bold;
    color: #000000;
  }
  .buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
 


  