<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" class="background-image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-title>Registrar</ion-card-title>
<ion-card-content>
  <ion-input type="text" [(ngModel)]="NameParent" placeholder="  Nombre"></ion-input>
  <ion-input type="text" [(ngModel)]="CedulaParent" placeholder="  Cédula"></ion-input>
  <ion-input type="text" [(ngModel)]="PhoneParent" placeholder="  Teléfono"></ion-input>
  <ion-input type="text" [(ngModel)]="EmailParent" placeholder="  Correo"></ion-input>
  <ion-input type="password" [(ngModel)]="PasswordParent" placeholder="  Contraseña"></ion-input>

  <div class="buttons">
    <ion-button  (click)="CreateRecord()" expand="full" fill="clear">Registrar</ion-button>
    <ion-button  routerLink="/home" expand="full" fill="clear">Iniciar sesión</ion-button>
  </div>
  
  
</ion-card-content>

  </ion-card>
</ion-content>