<ion-header [translucent]="true">
 
</ion-header>


<ion-content [fullscreen]="true" class="back">
  <ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title >RECOGER</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Seleccionar carril</ion-label>
    <ion-select placeholder="Section" [(ngModel)]="selectedCarril">
      <ion-select-option value="carril1">Carril 1</ion-select-option>
      <ion-select-option value="carril2">Carril 2</ion-select-option>
      <ion-select-option value="carril3">Carril 3</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button class="buttonllegue" expand="full" fill="clear" shape="round"  (click)="llegueClicked()"
  *ngIf="mostrarLlegue">
    Llegué
  </ion-button>

  <ion-button expand="full" fill="clear" shape="round"  (click)="listoClicked()"
  *ngIf="mostrarListo">
    Listo
  </ion-button>


  <ion-button expand="full" fill="clear" shape="round"  routerLink="/registrar-alumno">
    Registrar Alumno
  </ion-button>
  <ion-button expand="full" fill="clear" shape="round"  routerLink="/home">
    Salir
  </ion-button>
</ion-card>
</ion-content>
